body {
  background: transparent url('/img/grey_wash_wall.png');
  font-family: Open Sans, Arial, sans-serif;
}

#checked-text {
  background: rgba(51, 51, 51, 0.8);
  color: #ccc;
  display: none;
  min-height: 500px;
  padding: 30px 20px;
  overflow: scroll;
}

.hidden-custom {
  display: none;
}

#loading {
  display: none;
  height: 500px;
}

#checked-text .error {
  color: red;
  display: inline;
  position: relative;
}

#checked-text .error .replaced {
  color: green;
}

#checked-text .error:hover {
  background: whitesmoke;
  cursor: pointer;
}

#checked-text .suggestions {
  background: whitesmoke;
  border: 1px solid #efefef;
  border-radius: 3px;
  display: none;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 25px;
  z-index: 2;
}

#checked-text .suggestion {
  border-bottom: 1px solid #dedede;
  color: green;
  display: block;
  padding: 5px;
}

#checked-text .suggestion:last-child {
  border: 0;
}

#checked-text .suggestion.original {
  color: red;
}

#checked-text .suggestion:hover {
  background: #dedede;
  cursor: pointer;
}

#checked-text label.replace-all {
  width: 100px;
}
#checked-text label.replace-all:hover {
  cursor: pointer;
}
#checked-text input.replace-all {
  margin-right: 10px;
}

.text-input {
  background: rgba(51, 51, 51, 0.8);
  border: 0;
  border-radius: 3px;
  color: #ccc;
  max-width: 100%;
}

.text-input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(130,130,130,0.6);

}

.btn {
  border-radius: 3px;
}

.btn-danger {
  background-color: #C30512;
  border-color: #9c0000;
}

.btn-danger:focus,
.btn-danger:hover {
  background-color: #9c0000;
  border-color: #900000;
}
