body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 16px;
}

#checked-text,
#insert-btn {
  display: none;
}

.loading {
  display: none;
}

#checked-text .error {
  color: red;
  position: relative;
}

#checked-text .suggestions {
  position: absolute;
  z-index: 2;
}

#checked-text .suggestion {
  color: green;
  display: block;
  padding: 0 5px;
}
